<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"/>
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js" defer></script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/ionicons/dist/ionicons/ionicons.esm.js" defer></script>
    <script nomodule src="https://cdn.jsdelivr.net/npm/ionicons/dist/ionicons/ionicons.js" defer></script>
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/script.js" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&family=Rubik&display=swap" rel="stylesheet">
    <title>Lentopeli</title>
</head>


<body>
<div class="container">
    <header class="page-header">
        <h1 class="page-title">
            Lentopeli!
        </h1>

        <nav>
            <ul class="flex-wrap space-evenly">
                <li>
                    <a class="button button-white" href="../templates/index.html">Game</a>
                </li>
                <li>
                    <a class="button button-white" href="../templates/about.html">About</a>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        <div id="map">
            <iframe class="responsive-img"
                    src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d13079660.953667184!2d20.83818244853614!3d55.53258632410206!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sfi!2sfi!4v1701951727520!5m2!1sfi!2sfi"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="boxes">
            <section class="box">
                <header>
                    <h2>Game status</h2>
                </header>
                <table>
                    <tr>
                        <td colspan="2">Player name:</td>
                    </tr>
                    <tr>
                        <td colspan="2">Location:</td>
                    </tr>
                    <tr>
                        <td>C Temperature: <span id="temprature">0</span>C above average</td>
                        <td>C Left: <span id="left">6</span>C</td>
                    </tr>
                </table>
            </section>
            <section class="box">
                <header>
                    <h2>Goal</h2>
                </header>
                <ul id="goal" class="flex-wrap">
                    <li>
                        <figure>
                            <img src="">
                            <figcaption>Capture the villain!</figcaption>
                        </figure>
                    </li>
                </ul>
            </section>
        </div>
    </main>
    <footer class="page-footer">
        <p>This game was made by Eljas, Janne, Idriz and Sampo ©</p>
    </footer>
    <div class="goal">
        <h2>You got the villain!</h2>
        <p>
            <span id="goal-txt">Goal reached!</span>
        </p>
    </div>
</div>

<div id="player-modal">
    <form id="player-form"></form>
    <input type="text" placeholder="Player name" required>
    <input type="submit" value="Start game">
</div>

</body>
</html>